# Visual Studio
.vs/
*.sln.DotSettings.user
*.vcxproj.user

# Build output
Debug/
Release/
x64/
Win32/
*.obj
*.exe
*.lib
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.tlog
*.log
enc_temp_folder/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db